:root {
  --light: rgb(186, 211, 214);
  --blue: rgb(116, 162, 248);
}

body {
  height: 125vh;
  background-image: url(./images/IMG_8219.JPG);
  background-size: cover;
  font-family: sans-serif;
}

.dec {
  border-left: 3px solid var(--light); 
  padding-left: 6px;
  border-radius: 3px;
}

.light-shadow {
  box-shadow: 0 0 7px rgba(187, 187, 187, 0.623);
}

.blue-back {
  background-color: var(--blue);
}

.dark-back {
  background-color: rgba(0, 0, 0, 0.63);
}

.h-f-div {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  height: 60%;
  width: 250px;
}

.flex {
  display: flex;
}

.moves {
  transition: ease all 0.35s;
}

header {
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.63);
  color: rgb(0, 0, 0);
  height: 80px;
  padding-right: 2%;
}

header div {
  border-radius: 0 20px 20px 0;
}

header nav ul {
  justify-content: space-between;
  min-width: 400px;
}

header nav a {
  color: var(--light);
  text-decoration: none;
  padding: 5px;
}

.style:hover {
  transition: all 0.2s ease-in-out;
  background-color: var(--light);
  color: black;
  box-shadow: 0 0 10px rgba(187, 187, 187, 0.623);
}

.about-me {
    width: 90%;
    height: fit-content;
    margin-top: 50px;
    display: inline-block;
    color: var(--light);
    border-radius: 0 20px 20px 0;
}

.about-me img {
  max-height: 400px;
  float: left;
  border-radius: 0 20px 20px 0;
  filter: brightness(.8);
}

.about-me h2 {
  margin-top: 18px;
  color: black;
  height: 60px;
  width: 350px;
  border-radius: 0 20px 20px 0;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.about-me p {
  padding: 10px;
  padding-left: 410px;
  font-size: 20px;
  line-height: 1.5;
}

.works {
  display: flex;
  margin-left: 10%;
  width: 90%;
  height: fit-content;
  margin-top: 50px;
  display: inline-block;
  color: var(--light);
  border-radius: 20px 0 0 20px;
}

.works h2 {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 78%;
  color: black;
  height: 60px;
  width: 22%;
  border-radius: 20px 0 0 20px;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.main {
  height: 200px;
  width: 90%;
  border-radius: 20px 0 0 20px;
  margin: 50px;
  margin-left: 10%;
  box-shadow: 0 0 15px var(--blue);
}

 .main a {
  text-decoration: none;
 }

.main img{
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.main h3 {
  position: relative;
  width:max-content;
  margin-left:auto;
  margin-top: -42px;
  margin-bottom: 16px;
  padding: 5px;
  border-radius: 15px 0 0 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  opacity: 75%;
}

.icon {
height: 100px;
width: 66%;
margin-left: 34%;
margin-bottom: 50px;
border-radius: 20px 0 0 20px;
box-shadow: 0 0 15px var(--blue);
}

.icon a {
  text-decoration: none;
}

.icon img {
width: 100%;
height: 100%;
border-radius: 20px 0 0 20px;
}

.icon h3 {
  position: relative;
  width: max-content;
  margin-left: auto;
  margin-top: -35px;
  margin-bottom: 16px;
  padding: 5px;
  border-radius: 15px 0 0 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  opacity: 85%;
}

.effects-card:hover {
  box-shadow: 0 0 25px var(--blue);
  /* filter: blur(2px); */
}

footer {
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  height: 80px;
}

footer div {
  color: var(--light);
  font-size: 25px;
  margin-left: 8px;
}

footer nav ul {
  align-items: center;
  min-width: 400px; 
  border-radius: 15px 0 0 15px;
  padding: 10px;
  height: 50px;
  width: 500px;
}

footer nav a {
  padding-right: 30px;
  font-weight: bold;
}

@media screen and (max-width: 992px) {

  .about-me {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
  }

.about-me img {
  display: flex;
  border-radius: 20px;
  float: none;
  box-shadow: 0 0 7px rgba(187, 187, 187, 0.623);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-height: 400px;
}

.about-me h2 {
  display: flex;
  width: 100%;
  border-radius: 0;
}

.about-me p {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 0;
  margin: 30px;
}

.works {
  width: 100%;
  margin: 0;
  margin-top: 50px;
  border-radius: 0;
}

.works h2 {
  display: flex;
  width: 100%;
  border-radius: 0;
  margin: 30px 0px 30px 0px;
}

.main {
  width: 90%;
  margin: 0;
  margin-left: 5%;
  border-radius: 0;
  margin-bottom: 50px;
  border-radius: 20px;
}

.main img {
  border-radius: 20px;
}

.main h3 {
  width: 100%;
  margin: 0;
  border-radius: 0 0 20px 20px;
  margin-top: -42px;
}

.grid {
display: grid;
grid-template-columns: 1fr 1fr;
}

.icon {
  margin: 0px 10% 50px 10%;
width: 80%;
border-radius: 20px;
height: 150px;
}

.icon img {
  border-radius: 20px;
}

.icon h3{
  width: 100%;
  margin: 0;
  border-radius: 0 0 20px 20px;
  margin-top: -32px;
  font-size: 1.2rem;
}
}

@media screen and (max-width: 768px) {


  header{
    flex-direction: column;
    padding-bottom: 20px;
    height: max-content;
    padding: 0;
  }

  header .h-f-div {
    width: 100%;
    margin-top: 30px;
    border-radius: 0;
  }

  header .dec {
    border: 0;
    border-bottom: 3px solid var(--light);
    border-radius: 3px;
    padding: 3px;
  }

  header h1{
    padding: 8px;
  }

  header ul {
    margin: 15px;
  }

  header nav a {
    margin: 10px;
  }

  .about-me {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
  }

.about-me img {
  display: flex;
  border-radius: 20px;
  float: none;
  box-shadow: 0 0 7px rgba(187, 187, 187, 0.623);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-height: 300px;
}

.about-me h2 {
  display: flex;
  width: 100%;
  border-radius: 0;
}

.about-me p {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 0;
  margin: 30px;
}

.works {
  width: 100%;
  margin: 0;
  margin-top: 50px;
  border-radius: 0;
}

.works h2 {
  display: flex;
  width: 100%;
  border-radius: 0;
  margin: 30px 0px 30px 0px;
}

.main {
  width: 90%;
  margin: 0;
  margin-left: 5%;
  border-radius: 0;
  margin-bottom: 50px;
  border-radius: 20px;
}

.main img {
  border-radius: 20px;
}

.main h3 {
  width: 100%;
  margin: 0;
  border-radius: 0 0 20px 20px;
  margin-top: -42px;
}

.grid {
display: grid;
grid-template-columns: 1fr 1fr;
}

.icon {
  margin: 0px 10% 50px 10%;
width: 80%;
border-radius: 20px;
}

.icon img {
  border-radius: 20px;
}

.icon h3{
  width: 100%;
  margin: 0;
  border-radius: 0 0 20px 20px;
  margin-top: -32px;
  font-size: 1.2rem;
}

footer {
  flex-direction: column;
    padding-bottom: 20px;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

footer .dec {
  border: 0;
  border-bottom: 3px solid var(--light);
  border-radius: 3px;
  padding: 0;
}

footer h2 {
  margin: 20px 0 20px 0;
}

footer nav {
  margin-bottom: 20px;
  width: 100%;
  
}

footer nav ul{
  width: 100%;
  justify-content: space-around;
  border-radius: 0;
}

}